# C++ objects and libs

*.exe
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

#special for this project
dll*
imageformats

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
*/ui_*.h
Makefile*
*/Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
